*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* CSS Reset rules above */

:root {
  --text-color: rgb(229 231 235);
  --button-background-color: rgb(15 118 110);
  --bottom-border-color: rgb(31 41 55);
  --body-background-color: rgb(17 24 39);
  --footer-background-color: rgb(31 41 55 / 0.3);
}

body {
  color: var(--text-color);
  background-color: var(--body-background-color);
}

nav {
  border-bottom: 2px solid var(--bottom-border-color);
}

.nav-elements-container {
  display: flex;
  padding: 0.5rem 5rem;
  align-items: center;
  justify-content: space-between;
}

.nav-elements-container .left-nav a {
  display: flex;
  align-items: center;
}

.nav-elements-container .left-nav a img {
  height: 5rem;
  width: auto;
}

.nav-elements-container .right-nav {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}