*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* CSS Reset rules above */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: norse-bold;
  src: url(./font/Norse-Bold.otf);
}

:root {
  --text-color: rgb(229 231 235);
  --button-background-color: rgb(15 118 110);
  --bottom-border-color: rgb(31 41 55);
  --body-background-color: rgb(17 24 39);
  --footer-background-color: rgb(31 41 55 / 0.3);
}

body {
  color: var(--text-color);
  background-color: var(--body-background-color);
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  border-bottom: 2px solid var(--bottom-border-color);
}

.nav-elements-container {
  display: flex;
  padding: 0.5rem 5rem;
  align-items: center;
  justify-content: space-between;
}

.nav-elements-container .left-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: norse-bold, Inter, system-ui;
  font-size: 1.75rem;
  color: var(--text-color);
  gap: 1rem;
  flex-wrap: wrap;
}

span {
  text-align: center;
}

.nav-elements-container .left-nav a img {
  height: 4rem;
  width: auto;
}

.nav-elements-container .right-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-elements-container .right-nav p {
  text-align: center;
}

/* Button container */

.button-container {
  display: flex;
  justify-content: center;
  margin: 25px;
}